*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

#conatiner {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-area: header;
  background-color: #202020;
  height: 5.6rem;
}

#start {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #030303;
  height: 56px;
}

#main-menu {
  width: 24px;
  height: 24px;
  margin-left: 2.4rem;
  cursor: pointer;
}

#logo {
  margin-left: 2.4rem;
  width: 8rem;
  color: white;
  cursor: pointer;
  background-color: white;
}

#center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex: 0 1 728px;
  min-width: 0px;
  margin-top: -55px;
}

#search-form {
  display: flex;
  flex-direction: row;
  width: 50%;
  border: 1px solid #303030;
}

#search-form input[type="search"] {
  background-color: #121212;
  color: rgba(255, 255, 255, 0.88);
  padding-left: 0.6rem;
  border-radius: 0.2rem 0 0 0.2rem;
}

#search {
  width: 100%;
  height: 3.2rem;
  outline: none;
  color: rgba(255, 255, 255, 0.88);
  border: none;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
  flex: 1;
}

#video-info {
  padding: 2rem 0 0.8rem 0;
  border-bottom: 0.1rem solid #303030;
}

#search-icon {
  width: 20px;
  height: 20px;
}

#microphone-icon {
  margin: 0 1rem 0 1rem;
  width: 2.4rem;
  cursor: pointer;
  background-color: white;
}

#end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: -90px;
}

#apps {
  width: 24px;
  height: 24px;
  background-color: white;
  margin: 2.4rem;
}

#settings {
  width: 24px;
  height: 24px;
  background-color: white;
  margin: 2.4rem;
}

#sign-in {
  width: 50px;
  height: 50px;
  margin: 2.4rem;
}

.video-conatiner {
  grid-area: video;
  background-color: #181818;
  padding: 2.4rem 2.4rem 0 2.4rem;
}

.video {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
}

#video-info {
  padding: 2rem 0 0.8rem 0;
  border-bottom: 0.1rem solid #303030;
  margin-top: -20%;
}

#youtube-video {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 60%;
  height: 65%;
}

#info {
  display: flex;
  flex-direction: row;
  height: 4rem;
  align-items: center;
  justify-content: space-between;
}

#info-text {
  display: flex;
  flex-direction: row;
}

#menu-conatiner {
  float: right;
}

#like-link {
  width: 24px;
  height: 24px;

  cursor: pointer;
}

#dislike-link {
  width: 24px;
  height: 24px;
  cursor: pointer;
  margin-left: 0.8rem;
}

#share-link {
  width: 24px;
  height: 24px;
  cursor: pointer;
  margin-left: 0.8rem;
}

#save-link {
  width: 24px;
  height: 24px;
  cursor: pointer;
  margin-left: 0.8rem;
}

#menu-link {
  width: 24px;
  height: 24px;
  cursor: pointer;
  margin-left: 0.8rem;
}

#meta {
  padding-bottom: 1.6rem;
  border-bottom: 0.1rem solid #303030;
  display: flex;
  justify-content: flex-end;
}

.top-row {
  display: flex;
  flex-direction: row;
  padding-top: 1.6rem;
  margin-bottom: 1.2rem;
  justify-content: space-between;
  align-items: center;
}

#sub {
  background-color: #c00;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 0.0007rem;
  border: none;
  padding: 7px;
  height: 1.65rem;
  border-radius: 0.2rem;
  cursor: pointer;
}

.sidebar {
  display: flex;
  justify-content: flex-end;
  margin-top: -55%;
}

#suggestions {
  /* width: 152.4px;
  height: 117.6px; */
  /* margin-right: 10px; */
  height: 95%;

  float: right;
}
